@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Open Sans', Arial, sans-serif;
  letter-spacing: 0.02rem;
}

a * {
  pointer-events: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

